body{
    background: url("../Images/Wallpaper.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "Century Gothic", serif;
}

#container{
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#div1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 40%;
    background-color: rgba(255, 255, 255, 0.5);
}
#div2{
    width: 70%;
    height: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2%;
}